<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SECRET_KEYS</key>
	<dict>
		<key>SENTRY_DSN</key>
		<string>$(SENTRY_DSN)</string>
		<key>SENTRY_DSYM_TOKEN</key>
		<string>$(SENTRY_DSYM_TOKEN)</string>
		<key>AMPLITUDE_TOKEN</key>
		<string>$(AMPLITUDE_TOKEN)</string>
		<key>TELEGRAM_TOKEN</key>
		<string>$(TELEGRAM_TOKEN)</string>
		<key>TELEGRAM_CHAT_ID</key>
		<string>$(TELEGRAM_CHAT_ID)</string>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
