### Custom ###
Credentials.json
Secrets.xcconfig
.env
devices.txt
*.p8
Scripts/build_phases/
SourcePackages/
ipa_builds/
.swiftpm

## App packaging ###
*.ipa
*.dSYM.zip
*.dSYM

### fastlane ###
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

### Tuist derived files ###
graph.dot
Derived/

### Tuist managed dependencies ###
Tuist/.build

### Projects ###
*.xcodeproj
*.xcworkspace

### Xcode User Settings ###
xcuserdata/

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

### macOS ###
.DS_Store
.AppleDouble
.LSOverride