<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073251705026-4gi0ufbka0om8d5rnbtfs50v965ipl9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073251705026-4gi0ufbka0om8d5rnbtfs50v965ipl9d</string>
	<key>API_KEY</key>
	<string>AIzaSyBh9OaIB371RDK3ZzfbDqAGuvhR65FBx1g</string>
	<key>GCM_SENDER_ID</key>
	<string>1073251705026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.subvert.forpda</string>
	<key>PROJECT_ID</key>
	<string>forpda-project</string>
	<key>STORAGE_BUCKET</key>
	<string>forpda-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073251705026:ios:ae9ac95b9b06a1af371b5b</string>
</dict>
</plist>