<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>To capture and send photos in QMS</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>To send voice messages in QMS</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To send attachments in QMS</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.subvert.forpda.background.notifications</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AnimatedIcon000</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon000</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon001</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon001</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon002</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon002</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon003</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon003</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon004</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon004</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon005</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon005</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon006</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon006</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon007</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon007</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon008</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon008</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon009</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon009</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon010</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon010</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon011</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon011</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon012</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon012</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon013</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon013</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon014</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon014</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon015</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon015</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon016</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon016</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon017</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon017</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon018</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon018</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon019</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon019</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon020</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon020</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon021</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon021</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon022</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon022</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon023</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon023</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon024</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon024</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon025</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon025</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon026</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon026</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon027</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon027</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon028</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon028</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon029</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon029</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon030</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon030</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon031</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon031</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon032</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon032</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon033</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon033</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon034</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon034</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon035</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon035</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon036</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon036</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon037</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon037</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon038</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon038</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon039</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon039</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon040</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon040</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon041</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon041</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon042</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon042</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon043</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon043</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon044</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon044</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon045</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon045</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon046</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon046</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon047</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon047</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon048</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon048</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon049</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon049</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon050</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon050</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon051</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon051</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon052</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon052</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon053</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon053</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon054</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon054</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon055</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon055</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon056</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon056</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon057</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon057</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon058</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon058</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon059</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon059</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon060</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon060</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon061</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon061</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon062</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon062</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon063</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon063</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon064</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon064</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon065</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon065</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon066</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon066</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon067</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon067</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon068</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon068</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon069</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon069</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon070</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon070</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon071</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon071</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon072</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon072</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon073</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon073</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon074</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon074</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon075</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon075</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon076</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon076</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon077</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon077</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon078</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon078</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon079</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon079</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon080</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon080</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon081</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon081</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon082</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon082</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon083</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon083</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon084</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon084</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon085</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon085</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon086</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon086</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon087</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon087</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon088</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon088</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon089</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon089</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AnimatedIcon000</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en </string>
		<string>ru</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.subvert.forpda</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>forpda</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>fontello.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
