<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en </string>
		<string>ru</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.subvert.forpda</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>forpda</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>SECRET_KEYS</key>
	<dict>
		<key>MIXPANEL_TOKEN</key>
		<string>$(MIXPANEL_TOKEN)</string>
		<key>SENTRY_DSN</key>
		<string>$(SENTRY_DSN)</string>
		<key>SENTRY_DSYM_TOKEN</key>
		<string>$(SENTRY_DSYM_TOKEN)</string>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
</dict>
</plist>
